.header {
   background-color:$color-primary;
   @media (max-width:$telephone) {
       max-width: $telephone;
   }
}



.number {
    gap: 10px;
    display: flex;
    
   
 
   a {
       color:white;
       text-decoration: none;
   }
  
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}

.number {
    display: flex;
    align-items:center;

  .basket {
   margin-left: 25px;  
  }
}
